.footer_container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	background-color: #1f1f14;
	color: grey;
}

.text_about{
	margin: 50px;
	display: inline-block;
	width: 300px;
	box-sizing: border-box;
	box-sizing: content-box;
}

.text_about h1{
	color: skyblue;
	font: 20px/30px verdana,sans-serif;
	text-decoration: underline;
}

.text_about h2{
	color: grey;
	font: 12px verdana,sans-serif;
}

.text_about p{
	font: 12px/20px verdana,sans-serif;
	text-align: justify;
	word-spacing: 5px;
}

.text_about img{
	width: 100px;
	height: 100px;
	float: left;
	padding-right: 15px;
}

.text_contact{
	display: inline-block;
	margin: 50px;
	width: 250px;
}

.text_contact h1{
	color: grey;
	font: normal 20px verdana,sans-serif;
	text-decoration: underline;
}

.text_contact h3{
	color: grey;
	font: 12px/30px verdana,sans-serif;
}

.text_address{
	display: inline-block;
	margin: 50px;
	width: 250px;
}

.text_address h1{
	color: grey;
	font: normal 20px verdana,sans-serif;
	text-decoration: underline;
}

.text_address h2{
	color: grey;
	font: normal 12px/30px verdana,sans-serif;
}

.text_address h3{
	color: grey;
	font: normal 12px/18px verdana,sans-serif;
}

.footer_copyright{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background: black;
}

.sub_footer_copy{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font: 12px verdana,sans-serif;
	color: grey;
}

.left h1, a,
.right h1, a{
	display: inline-block;
}

@media  screen and (max-width: 1000px){
.footer_container{
	margin-top: 50px;
}
}

@media  screen and (max-width: 567px){
.footer_container{
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
}
