body{
	font: 15px/30px arial, sans-serif;
	background-color: white;
}

.container {
	width: 100%;
	background-color: salmon;
}


nav{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 75px;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 100;
}

.logo{
	font: 20px kaushan,cursive;
	width: 100px;
	padding-top: 5px;
	text-align: center;
	background-color: white;
	color: black;
	box-sizing: border-box;
}

/*mengatur jarak antar list item navigasi*/
nav ul.item_nav{
	display: flex;
	justify-content: space-between;
	width: 50%;
}

/*mengatur jarak top bottom list item navigasi*/
nav ul.item_nav li a.menu1{
	font: 18px/75px cursive,sans-serif;
	color: black;
	text-decoration: none;

}

nav ul.item_nav li a.WA{
	position: absolute;
	top: 15px;
	right:100px;
	width: 150px;
	height: 40px;
	background-color: orange;
	border: 3px solid orange;
	color: white;
	border-radius : 40%;
	font: 15px cursive;
	text-align: center;
	text-decoration: none;
	line-height: 40px;

}

nav ul.item_nav li a.IG{
	position: absolute;
	top: 18px;
	right: 50px;
	width: 40px;
	height: 40px;
	border-radius: 20%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	background-image: url(../img/instagram.png);
	margin-right: auto;
	-webkit- filter: grayscale(100%);
	-ms- filter: grayscale(100%);
	filter: grayscale(100%);

}

.item_nav li .menu1:hover{
	color: lightskyblue;
}

.item_nav li .WA:hover{
	color: orange;
	border: 3px solid orange;
	background-color: white;
}

.item_nav li .IG:hover{
	border-radius: 50%;
	background-color: skyblue;
	-ms- filter: grayscale(0%);
	-ms- filter: brightness(130%);
	-webkit- filter: grayscale(0%);
	-webkit- filter: brightness(130%);
	filter: grayscale(0%);
	filter: brightness(130%);
}

/* responsive breakpoint */

/*ukuran tablet */
@media  screen and (max-width: 768px){

	
}




