@font-face {
    font-family: 'kaushan';
    src: url('../font/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fontkaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}